*{
    box-sizing: border-box;
}

body{
    background-color: black;
}

.cad_cli{
    width: 70%;
}


label.menu-lateral-link{
    text-align: center;
    font-family: sans-serif;
    padding: 8px 5px;
    color: black;
}

div.container{
    width: 1200;
    height: auto;
    margin: 0 auto;
}

div.cabecalho{
    position: sticky;
    float: left;
    background-color: #ffffff;
    width: 100%;
    padding: 5px;
    height: auto;
}

label.logo{
    position: relative;
    float: left;
    color: #000;
    margin-left: 60px;
    font-family: trajan;
    font-size: 70px;
}

img#logo{
    position: relative;
    float: left;
    height:100px;
    width: 125px;
}

div.sign{
    margin-top: 0;
    margin-left: 120px;
    width:100px;
    height: auto;
    position: relative;
    float: left;
}

div.menu-lateral{
    position: relative;
    float: left;
    width: 13%;
    background-color: #fff;
    height: auto;
    margin-left: 2%;
    margin-top: 15px;
    border-radius: 3px;

}

div.botao-menulateral{
    font-family: arial;
    text-align: center;
    color: #000000;
    padding: 3px;
    margin:2px 5px;
}

div#ultimo-botaolateral{
    padding-bottom: 10px;
}

div#primeiro-botaolateral{
    padding-top: 10px;
}

div.botao-menulateral: active{
    background-color: #333030;
    text-decoration: underline;
    transition: 0.3s;
}

div.content{
    height: auto;
    width:80%;
    background-color: #000;
    border-style: solid;
    border-radius: 2px;
    border-color: #ABCDEF;
    position: relative;
    float: left;
    background-color: #fff;
    margin-top: 15px;
    margin-left: 2%;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: #488056;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:link{
    text-decoration: none;
    color: black;
}

a:active{
    text-decoration: underline;
}

a.account{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
}

a.menu-lateral-link{
    
}

hr.divisao-menulateral{
    width:90%;
}